In [6]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [49]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [50]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [51]:
# Get the crowdfunding_info_df columns.

data = {
    'category & sub-category': [
        'film & video/animation', 'film & video/animation', 'film & video/documentary',
        'film & video/documentary', 'film & video/drama', 'film & video/science fiction',
        'film & video/shorts', 'film & video/television', 'food/food trucks', 'games/mobile games',
        'journalism/audio', 'music/electric music', 'music/indie rock', 'music/jazz', 'music/metal',
        'music/rock', 'music/world music', 'photography/photography books', 'publishing/fiction',
        'publishing/nonfiction', 'publishing/radio & podcasts', 'publishing/translations', 'technology/wearables',
        'technology/web', 'theater/plays'
    ]
}

df = pd.DataFrame(data)

df[['category', 'subcategory']] = df['category & sub-category'].str.split('/', expand=True)

unique_categories = df['category'].unique()
unique_subcategories = df['subcategory'].unique()


category_df = pd.DataFrame({
    'category_id': range(1, len(unique_categories) + 1),
    'category': unique_categories
})


subcategory_df = pd.DataFrame({
    'subcategory_id': range(1, len(unique_subcategories) + 1),
    'subcategory': unique_subcategories
})


category_df.to_csv('category.csv', index=False)
subcategory_df.to_csv('subcategory.csv', index=False)

In [52]:
# Assign the category and subcategory values to category and subcategory columns.

data = {
    'category & sub-category': [
        'film & video/animation', 'film & video/animation', 'film & video/documentary',
        'film & video/documentary', 'film & video/drama', 'film & video/science fiction',
        'film & video/shorts', 'film & video/television', 'food/food trucks', 'games/mobile games',
        'journalism/audio', 'music/electric music', 'music/indie rock', 'music/jazz', 'music/metal',
        'music/rock', 'music/world music', 'photography/photography books', 'publishing/fiction',
        'publishing/nonfiction', 'publishing/radio & podcasts', 'publishing/translations', 'technology/wearables',
        'technology/web', 'theater/plays'
    ]
}
df = pd.DataFrame(data)

df[['category', 'subcategory']] = df['category & sub-category'].str.split('/', expand=True)

df.to_csv('category_and_subcategory.csv', index=False)

In [53]:
# Get the unique categories and subcategories in separate lists.

data = {
    'category & sub-category': [
        'film & video/animation', 'film & video/animation', 'film & video/documentary',
        'film & video/documentary', 'film & video/drama', 'film & video/science fiction',
        'film & video/shorts', 'film & video/television', 'food/food trucks', 'games/mobile games',
        'journalism/audio', 'music/electric music', 'music/indie rock', 'music/jazz', 'music/metal',
        'music/rock', 'music/world music', 'photography/photography books', 'publishing/fiction',
        'publishing/nonfiction', 'publishing/radio & podcasts', 'publishing/translations', 'technology/wearables',
        'technology/web', 'theater/plays'
    ]
}

df = pd.DataFrame(data)

df[['category', 'subcategory']] = df['category & sub-category'].str.split('/', expand=True)

unique_categories = df['category'].unique()
unique_subcategories = df['subcategory'].unique()

print("Unique Categories:", unique_categories)
print("Unique Subcategories:", unique_subcategories)

Unique Categories: ['film & video' 'food' 'games' 'journalism' 'music' 'photography'
 'publishing' 'technology' 'theater']
Unique Subcategories: ['animation' 'documentary' 'drama' 'science fiction' 'shorts' 'television'
 'food trucks' 'mobile games' 'audio' 'electric music' 'indie rock' 'jazz'
 'metal' 'rock' 'world music' 'photography books' 'fiction' 'nonfiction'
 'radio & podcasts' 'translations' 'wearables' 'web' 'plays']

In [54]:
# Get the number of distinct values in the categories and subcategories lists.

data = {
    'category & sub-category': [
        'film & video/animation', 'film & video/animation', 'film & video/documentary',
        'film & video/documentary', 'film & video/drama', 'film & video/science fiction',
        'film & video/shorts', 'film & video/television', 'food/food trucks', 'games/mobile games',
        'journalism/audio', 'music/electric music', 'music/indie rock', 'music/jazz', 'music/metal',
        'music/rock', 'music/world music', 'photography/photography books', 'publishing/fiction',
        'publishing/nonfiction', 'publishing/radio & podcasts', 'publishing/translations', 'technology/wearables',
        'technology/web', 'theater/plays'
    ]
}

df = pd.DataFrame(data)

df[['category', 'subcategory']] = df['category & sub-category'].str.split('/', expand=True)

unique_categories = df['category'].unique()
unique_subcategories = df['subcategory'].unique()

num_categories = len(unique_categories)
num_subcategories = len(unique_subcategories)

print("Number of Distinct Categories:", num_categories)
print("Number of Distinct Subcategories:", num_subcategories)

Number of Distinct Categories: 9
Number of Distinct Subcategories: 23

In [55]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.

categories = np.arange(1, 10)
subcategories = np.arange(1, 25) 

print("Categories array:", categories)
print("Subcategories array:", subcategories)

Categories array: [1 2 3 4 5 6 7 8 9]
Subcategories array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [68]:
# Use a list comprehension to add "cat" to each category_id. 

# Use a list comprehension to add "subcat" to each subcategory_id.   


split_categories = [cat.split('/') for cat in categories]
unique_categories = set([cat_sub[0] for cat_sub in split_categories])
unique_subcategories = set([cat_sub[1] for cat_sub in split_categories])

category_df = pd.DataFrame({'category_id': [f'cat{i}' for i in range(1, len(unique_categories) + 1)],
                            'category': list(unique_categories)})

subcategory_df = pd.DataFrame({'subcategory_id': [f'subcat{i}' for i in range(1, len(unique_subcategories) + 1)],
                               'subcategory': list(unique_subcategories)})

category_df.to_csv('category.csv', index=False)
subcategory_df.to_csv('subcategory.csv', index=False)

print("Category DataFrame:")
print(category_df)
print("\nSubcategory DataFrame:")
print(subcategory_df)

Category DataFrame:
  category_id      category
0        cat1          food
1        cat2       theater
2        cat3  film & video
3        cat4    technology
4        cat5    journalism
5        cat6   photography
6        cat7         games
7        cat8    publishing
8        cat9         music

Subcategory DataFrame:
   subcategory_id        subcategory
0         subcat1       translations
1         subcat2          animation
2         subcat3          wearables
3         subcat4              plays
4         subcat5         nonfiction
5         subcat6              audio
6         subcat7                web
7         subcat8        documentary
8         subcat9   radio & podcasts
9        subcat10              drama
10       subcat11     electric music
11       subcat12             shorts
12       subcat13  photography books
13       subcat14               jazz
14       subcat15        food trucks
15       subcat16              metal
16       subcat17        video games
17       subcat18         indie rock
18       subcat19            fiction
19       subcat20    science fiction
20       subcat21               rock
21       subcat22        world music
22       subcat23         television
23       subcat24       mobile games

In [69]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 

categories = [
    'theater/plays', 'technology/web', 'technology/wearables', 'publishing/translations',
    'publishing/radio & podcasts', 'publishing/nonfiction', 'publishing/fiction', 
    'photography/photography books', 'music/world music', 'music/rock', 'music/metal', 
    'music/jazz', 'music/indie rock', 'music/electric music', 'journalism/audio', 
    'games/video games', 'games/mobile games', 'food/food trucks', 'film & video/television', 
    'film & video/shorts', 'film & video/science fiction', 'film & video/drama', 
    'film & video/documentary', 'film & video/animation'
]

split_categories = [cat.split('/') for cat in categories]
unique_categories = set([cat_sub[0] for cat_sub in split_categories])
unique_subcategories = set([cat_sub[1] for cat_sub in split_categories])

category_df = pd.DataFrame({'category_id': [f'cat{i}' for i in range(1, len(unique_categories) + 1)],
                            'category': list(unique_categories)})

subcategory_df = pd.DataFrame({'subcategory_id': [f'subcat{i}' for i in range(1, len(unique_subcategories) + 1)],
                               'subcategory': list(unique_subcategories)})

print("Category DataFrame:")
print(category_df)
print("\nSubcategory DataFrame:")
print(subcategory_df)

Category DataFrame:
  category_id      category
0        cat1          food
1        cat2       theater
2        cat3  film & video
3        cat4    technology
4        cat5    journalism
5        cat6   photography
6        cat7         games
7        cat8    publishing
8        cat9         music

Subcategory DataFrame:
   subcategory_id        subcategory
0         subcat1       translations
1         subcat2          animation
2         subcat3          wearables
3         subcat4              plays
4         subcat5         nonfiction
5         subcat6              audio
6         subcat7                web
7         subcat8        documentary
8         subcat9   radio & podcasts
9        subcat10              drama
10       subcat11     electric music
11       subcat12             shorts
12       subcat13  photography books
13       subcat14               jazz
14       subcat15        food trucks
15       subcat16              metal
16       subcat17        video games
17       subcat18         indie rock
18       subcat19            fiction
19       subcat20    science fiction
20       subcat21               rock
21       subcat22        world music
22       subcat23         television
23       subcat24       mobile games

In [58]:
category_df

  category_id      category
0        cat1          food
1        cat2       theater
2        cat3  film & video
3        cat4    technology
4        cat5    journalism
5        cat6   photography
6        cat7         games
7        cat8    publishing
8        cat9         music

In [59]:
subcategory_df

   subcategory_id        subcategory
0         subcat1       translations
1         subcat2          animation
2         subcat3          wearables
3         subcat4              plays
4         subcat5         nonfiction
5         subcat6              audio
6         subcat7                web
7         subcat8        documentary
8         subcat9   radio & podcasts
9        subcat10              drama
10       subcat11     electric music
11       subcat12             shorts
12       subcat13  photography books
13       subcat14               jazz
14       subcat15        food trucks
15       subcat16              metal
16       subcat17        video games
17       subcat18         indie rock
18       subcat19            fiction
19       subcat20    science fiction
20       subcat21               rock
21       subcat22        world music
22       subcat23         television
23       subcat24       mobile games

In [66]:
# Export categories_df and subcategories_df as CSV files.

categories = [
    'theater/plays', 'technology/web', 'technology/wearables', 'publishing/translations',
    'publishing/radio & podcasts', 'publishing/nonfiction', 'publishing/fiction', 
    'photography/photography books', 'music/world music', 'music/rock', 'music/metal', 
    'music/jazz', 'music/indie rock', 'music/electric music', 'journalism/audio', 
    'games/video games', 'games/mobile games', 'food/food trucks', 'film & video/television', 
    'film & video/shorts', 'film & video/science fiction', 'film & video/drama', 
    'film & video/documentary', 'film & video/animation'
]

split_categories = [cat.split('/') for cat in categories]
unique_categories = set([cat_sub[0] for cat_sub in split_categories])
unique_subcategories = set([cat_sub[1] for cat_sub in split_categories])


category_df = pd.DataFrame({'category_id': [f'cat{i}' for i in range(1, len(unique_categories) + 1)],
                            'category': list(unique_categories)})

subcategory_df = pd.DataFrame({'subcategory_id': [f'subcat{i}' for i in range(1, len(unique_subcategories) + 1)],
                               'subcategory': list(unique_subcategories)})

category_df.to_csv('category.csv', index=False)
subcategory_df.to_csv('subcategory.csv', index=False)

print("Category DataFrame:")
print(category_df)
print("\nSubcategory DataFrame:")
print(subcategory_df)

Category DataFrame:
  category_id      category
0        cat1          food
1        cat2       theater
2        cat3  film & video
3        cat4    technology
4        cat5    journalism
5        cat6   photography
6        cat7         games
7        cat8    publishing
8        cat9         music

Subcategory DataFrame:
   subcategory_id        subcategory
0         subcat1       translations
1         subcat2          animation
2         subcat3          wearables
3         subcat4              plays
4         subcat5         nonfiction
5         subcat6              audio
6         subcat7                web
7         subcat8        documentary
8         subcat9   radio & podcasts
9        subcat10              drama
10       subcat11     electric music
11       subcat12             shorts
12       subcat13  photography books
13       subcat14               jazz
14       subcat15        food trucks
15       subcat16              metal
16       subcat17        video games
17       subcat18         indie rock
18       subcat19            fiction
19       subcat20    science fiction
20       subcat21               rock
21       subcat22        world music
22       subcat23         television
23       subcat24       mobile games

In [65]:
# Export the DataFrame as a CSV file. 

category_df.to_csv('category.csv', index=False)
subcategory_df.to_csv('subcategory.csv', index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [70]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [71]:
# Rename the blurb, launched_at, and deadline columns.

campaign_df.rename(columns={"blurb": "description"}, inplace=True)

campaign_df.rename(columns={"launched_at": "launch_date"}, inplace=True)

campaign_df.rename(columns={"deadline": "end_date"}, inplace=True)
print(campaign_df)

     cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                       description    goal  pledged  \
0             Pre-emptive tertiary standardization     100        0
1                 Managed bottom-line architecture    1400    14560
2     Function-based leadingedge pricing structure  108400   142523
3    Vision-oriented fresh-thinking conglomeration    4200     2477
4                        Proactive foreground core    7600     5265
..                                             ...     ...      ...
995            Vision-oriented scalable definition   97300   153216
996       Future-proofed upward-trending migration    6600     4814
997              Right-sized full-range throughput    7600     4603
998           Polarized composite customer loyalty   66600    37823
999                    Expanded eco-centric policy  111100    62819

        outcome  backers_count country currency  launch_date    end_date  \
0        failed              0      CA      CAD   1581573600  1614578400
1    successful            158      US      USD   1611554400  1621918800
2    successful           1425      AU      AUD   1608184800  1640844000
3        failed             24      US      USD   1634792400  1642399200
4        failed             53      US      USD   1608530400  1629694800
..          ...            ...     ...      ...          ...         ...
995  successful           2043      US      USD   1609221600  1622350800
996      failed            112      US      USD   1634274000  1638252000
997    canceled            139      IT      EUR   1636174800  1639116000
998      failed            374      US      USD   1602133200  1618117200
999    canceled           1122      US      USD   1609308000  1629262800

     staff_pick  spotlight category & sub-category
0         False      False        food/food trucks
1         False       True              music/rock
2         False      False          technology/web
3         False      False              music/rock
4         False      False           theater/plays
..          ...        ...                     ...
995       False       True        food/food trucks
996       False      False           theater/plays
997       False      False           theater/plays
998       False       True        music/indie rock
999       False      False        food/food trucks

[1000 rows x 15 columns]

In [72]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df["goal"] = campaign_df["goal"].astype(float)
campaign_df["pledged"] = campaign_df["pledged"].astype(float)
print(campaign_df)

     cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                       description      goal   pledged  \
0             Pre-emptive tertiary standardization     100.0       0.0
1                 Managed bottom-line architecture    1400.0   14560.0
2     Function-based leadingedge pricing structure  108400.0  142523.0
3    Vision-oriented fresh-thinking conglomeration    4200.0    2477.0
4                        Proactive foreground core    7600.0    5265.0
..                                             ...       ...       ...
995            Vision-oriented scalable definition   97300.0  153216.0
996       Future-proofed upward-trending migration    6600.0    4814.0
997              Right-sized full-range throughput    7600.0    4603.0
998           Polarized composite customer loyalty   66600.0   37823.0
999                    Expanded eco-centric policy  111100.0   62819.0

        outcome  backers_count country currency  launch_date    end_date  \
0        failed              0      CA      CAD   1581573600  1614578400
1    successful            158      US      USD   1611554400  1621918800
2    successful           1425      AU      AUD   1608184800  1640844000
3        failed             24      US      USD   1634792400  1642399200
4        failed             53      US      USD   1608530400  1629694800
..          ...            ...     ...      ...          ...         ...
995  successful           2043      US      USD   1609221600  1622350800
996      failed            112      US      USD   1634274000  1638252000
997    canceled            139      IT      EUR   1636174800  1639116000
998      failed            374      US      USD   1602133200  1618117200
999    canceled           1122      US      USD   1609308000  1629262800

     staff_pick  spotlight category & sub-category
0         False      False        food/food trucks
1         False       True              music/rock
2         False      False          technology/web
3         False      False              music/rock
4         False      False           theater/plays
..          ...        ...                     ...
995       False       True        food/food trucks
996       False      False           theater/plays
997       False      False           theater/plays
998       False       True        music/indie rock
999       False      False        food/food trucks

[1000 rows x 15 columns]

In [73]:
# Check the datatypes
print(campaign_df.dtypes)

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                  int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
dtype: object

In [74]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_df["launch_date"] = pd.to_datetime(campaign_df["launch_date"], unit="s")
campaign_df["end_date"] = pd.to_datetime(campaign_df["end_date"], unit="s")
print(campaign_df)

     cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                       description      goal   pledged  \
0             Pre-emptive tertiary standardization     100.0       0.0
1                 Managed bottom-line architecture    1400.0   14560.0
2     Function-based leadingedge pricing structure  108400.0  142523.0
3    Vision-oriented fresh-thinking conglomeration    4200.0    2477.0
4                        Proactive foreground core    7600.0    5265.0
..                                             ...       ...       ...
995            Vision-oriented scalable definition   97300.0  153216.0
996       Future-proofed upward-trending migration    6600.0    4814.0
997              Right-sized full-range throughput    7600.0    4603.0
998           Polarized composite customer loyalty   66600.0   37823.0
999                    Expanded eco-centric policy  111100.0   62819.0

        outcome  backers_count country currency         launch_date  \
0        failed              0      CA      CAD 2020-02-13 06:00:00
1    successful            158      US      USD 2021-01-25 06:00:00
2    successful           1425      AU      AUD 2020-12-17 06:00:00
3        failed             24      US      USD 2021-10-21 05:00:00
4        failed             53      US      USD 2020-12-21 06:00:00
..          ...            ...     ...      ...                 ...
995  successful           2043      US      USD 2020-12-29 06:00:00
996      failed            112      US      USD 2021-10-15 05:00:00
997    canceled            139      IT      EUR 2021-11-06 05:00:00
998      failed            374      US      USD 2020-10-08 05:00:00
999    canceled           1122      US      USD 2020-12-30 06:00:00

               end_date  staff_pick  spotlight category & sub-category
0   2021-03-01 06:00:00       False      False        food/food trucks
1   2021-05-25 05:00:00       False       True              music/rock
2   2021-12-30 06:00:00       False      False          technology/web
3   2022-01-17 06:00:00       False      False              music/rock
4   2021-08-23 05:00:00       False      False           theater/plays
..                  ...         ...        ...                     ...
995 2021-05-30 05:00:00       False       True        food/food trucks
996 2021-11-30 06:00:00       False      False           theater/plays
997 2021-12-10 06:00:00       False      False           theater/plays
998 2021-04-11 05:00:00       False       True        music/indie rock
999 2021-08-18 05:00:00       False      False        food/food trucks

[1000 rows x 15 columns]

In [83]:
# Merge the campaign_df with the category_df on the "category" column and the subcategory_df on the "subcategory" column.

campaign_merged_df = pd.merge(campaign_df, category_df, on="category")

campaign_merged_df = pd.merge(campaign_merged_df, subcategory_df, on="subcategory")

print(campaign_merged_df.tail(10))

     cf_id  contact_id                 company_name  \
990    399        5983       Dixon, Perez and Banks
991   1378        2873                 Clements Ltd
992    806        2961                   Walter Inc
993   1563        3043  Sanders, Farley and Huffman
994   1951        6013           Rodriguez-Robinson
995    461        3521              Erickson-Rogers
996   1095        3565               Young and Sons
997   1388        4517              Valenzuela-Cook
998   2448        2389                   Little Ltd
999    602        2153                  Giles-Smith

                                   description      goal  pledged     outcome  \
990      Re-engineered encompassing definition    8300.0   2111.0      failed
991   Persistent bandwidth-monitored framework    3700.0   1343.0      failed
992         Streamlined 5thgeneration intranet   10000.0   8142.0      failed
993      Cross-group clear-thinking task-force  172000.0  55805.0      failed
994                   Ergonomic methodical hub    5900.0   4997.0      failed
995       De-engineered even-keeled definition    9800.0   7608.0    canceled
996      Innovative disintermediate encryption    2400.0   4596.0  successful
997             Total incremental productivity    6700.0   7496.0  successful
998  Decentralized bandwidth-monitored ability    6900.0  12155.0  successful
999           Right-sized web-enabled intranet    9700.0  11929.0  successful

     backers_count country currency         launch_date            end_date  \
990             57      CA      CAD 2021-12-29 06:00:00 2022-01-16 06:00:00
991             52      US      USD 2020-07-07 05:00:00 2021-07-27 05:00:00
992            263      AU      AUD 2020-12-20 06:00:00 2021-01-31 06:00:00
993           1691      US      USD 2021-04-08 05:00:00 2021-12-18 06:00:00
994            114      IT      EUR 2021-07-23 05:00:00 2021-11-25 06:00:00
995             75      IT      EUR 2021-07-03 05:00:00 2021-07-08 05:00:00
996            144      US      USD 2020-11-28 06:00:00 2021-02-28 06:00:00
997            300      US      USD 2021-01-04 06:00:00 2021-10-04 05:00:00
998            419      US      USD 2021-01-25 06:00:00 2021-04-18 05:00:00
999            331      US      USD 2022-02-01 06:00:00 2022-02-16 06:00:00

     staff_pick  spotlight        category & sub-category     category  \
990       False      False  photography/photography books  photography
991       False      False  photography/photography books  photography
992       False      False  photography/photography books  photography
993        True      False  photography/photography books  photography
994       False       True  photography/photography books  photography
995       False       True  photography/photography books  photography
996       False      False               journalism/audio   journalism
997       False      False               journalism/audio   journalism
998       False      False               journalism/audio   journalism
999       False      False               journalism/audio   journalism

           subcategory category_id subcategory_id
990  photography books        cat6       subcat13
991  photography books        cat6       subcat13
992  photography books        cat6       subcat13
993  photography books        cat6       subcat13
994  photography books        cat6       subcat13
995  photography books        cat6       subcat13
996              audio        cat5        subcat6
997              audio        cat5        subcat6
998              audio        cat5        subcat6
999              audio        cat5        subcat6

In [84]:
print(campaign_merged_df.columns)

Index(['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launch_date',
       'end_date', 'staff_pick', 'spotlight', 'category & sub-category',
       'category', 'subcategory', 'category_id', 'subcategory_id'],
      dtype='object')

In [85]:
# Drop unwanted columns
unwanted_columns = [ 'category & sub-category', 'category', 'subcategory', 'staff_pick', 'spotlight']

campaign_merged_df.drop(columns=unwanted_columns, inplace=True)
print(campaign_merged_df)

     cf_id  contact_id                company_name  \
0      147        4661  Baldwin, Riley and Jackson
1     1175        2288               Werner-Bryant
2      873        2067                 Stewart LLC
3     2568        5989              Castillo-Carey
4     1211        3307      Wright, Hartman and Yu
..     ...         ...                         ...
995    461        3521             Erickson-Rogers
996   1095        3565              Young and Sons
997   1388        4517             Valenzuela-Cook
998   2448        2389                  Little Ltd
999    602        2153                 Giles-Smith

                                              description      goal  pledged  \
0                    Pre-emptive tertiary standardization     100.0      0.0
1                                   Virtual uniform frame    1800.0   7991.0
2                      Cloned bi-directional architecture    1300.0  12047.0
3    Cross-platform solution-oriented process improvement  142400.0  21307.0
4                            User-friendly tertiary array    3300.0  12437.0
..                                                    ...       ...      ...
995                  De-engineered even-keeled definition    9800.0   7608.0
996                 Innovative disintermediate encryption    2400.0   4596.0
997                        Total incremental productivity    6700.0   7496.0
998             Decentralized bandwidth-monitored ability    6900.0  12155.0
999                      Right-sized web-enabled intranet    9700.0  11929.0

        outcome  backers_count country currency         launch_date  \
0        failed              0      CA      CAD 2020-02-13 06:00:00
1    successful            222      US      USD 2020-06-20 05:00:00
2    successful            113      US      USD 2020-11-29 06:00:00
3        failed            296      US      USD 2020-05-05 05:00:00
4    successful            131      US      USD 2021-01-29 06:00:00
..          ...            ...     ...      ...                 ...
995    canceled             75      IT      EUR 2021-07-03 05:00:00
996  successful            144      US      USD 2020-11-28 06:00:00
997  successful            300      US      USD 2021-01-04 06:00:00
998  successful            419      US      USD 2021-01-25 06:00:00
999  successful            331      US      USD 2022-02-01 06:00:00

               end_date category_id subcategory_id
0   2021-03-01 06:00:00        cat1       subcat15
1   2021-01-30 06:00:00        cat1       subcat15
2   2021-06-11 05:00:00        cat1       subcat15
3   2021-05-30 05:00:00        cat1       subcat15
4   2021-02-13 06:00:00        cat1       subcat15
..                  ...         ...            ...
995 2021-07-08 05:00:00        cat6       subcat13
996 2021-02-28 06:00:00        cat5        subcat6
997 2021-10-04 05:00:00        cat5        subcat6
998 2021-04-18 05:00:00        cat5        subcat6
999 2022-02-16 06:00:00        cat5        subcat6

[1000 rows x 14 columns]

In [87]:
# Export the DataFrame as a CSV file. 
campaign_merged_df.to_csv("campaign_merged.csv", index=False)